.DS_Store
.env
audio_*
concat.txt
new2.txt
spongebobandpatrickeatatthechumbucket.txt
ai_keys_alt
silence.mp3
new2.mp3
spongebobandpatrickeatatthechumbucket.mp3
**/new2
**/example
**/spongebobandpatrickeatatthechumbucket